body{
    background-image:url(../images/batman-vs-iron-man-5k-5l.jpg);
    background-size: cover;
    color: #ff0000;
}

.btn{
  color: #fff;
  border: none;
  margin: 20px;
  padding: 20px 30px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: box-shadow;
}

.btn-view{
  background: #50A7FF;
  box-shadow: 0 0 25px #50A7FF;
}